---
# main tasks file for docker setup

- name: install docker
  include: install-docker.yml
  tags: install-docker

- name: Create DNSmasq container
  include: dnsmasq-docker.yml
  tags: dnsmasq

- name: Create NTP container
  include: ntp-docker.yml
  tags: ntp

- name: Create LDAP container
  include: ldap-docker.yml
  tags: ldap

# After everything is complete sleep for a few seconds for the system to sync to drive
# this is just in case there is a reboot right after
- name: Pause for 5 seconds to build app cache
  pause:
    seconds: 5
